.hero-section-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;

    .hero-section-slider {
        display: flex;
        background-color: rgb(29, 29, 29);
        border-radius: 2rem;
        max-width: 150rem;
        width: 100%;
        height: 60rem; 
        overflow: hidden; 
        
        &__hero-img {
            width: 90rem;
            height: 100%; 
            object-fit: cover;
            border-radius: 2rem 0 0 2rem;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        &__details {
            padding: 2rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60rem;
        }

        &__name {
            font-size: 3.2rem;
            font-weight: 800;
            font-family: "Montserrat", sans-serif;
        }

        &__description {
            margin-top: 2rem;
            font-family: "Montserrat", sans-serif;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 10rem; 
        }

        &__know-more {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }

        &__know-more-btn {
            font-family: "Montserrat", sans-serif;
            background-color: rgb(29, 29, 29);
            color: rgb(241, 241, 241);
            padding: 1rem;
            border-radius: 0.6rem;
            border: solid rgb(92, 92, 92) 0.1rem;
            transition: filter 0.3s ease;
        }

        &__know-more-btn:hover {
            cursor: pointer;
            filter: brightness(1.4);
        }

        &__next-prev-container {
            display: flex;
            gap: 1rem;
        }

        &__prev,
        &__next {
            font-family: "Montserrat", sans-serif;
            background-color: rgb(29, 29, 29);
            color: rgb(241, 241, 241);
            padding: 0.8rem 1.2rem;
            border-radius: 0.6rem;
            border: solid rgb(92, 92, 92) 0.1rem;
            transition: filter 0.3s ease;
        }

        &__prev:hover,
        &__next:hover {
            cursor: pointer;
            filter: brightness(1.4);
        }
    }
}
