$spinner-border-color: rgba(255, 255, 255, 0.3);
$spinner-border-top-color: #f39c12;

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;

  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 10rem 15rem;
    text-align: center;

    .loading-logo {
      width: 120px;
      height: auto;
      margin-bottom: 1rem;
    }

    .loading-spinner {
      width: 50px;
      height: 50px;
      border: 4px solid $spinner-border-color;
      border-top: 4px solid $spinner-border-top-color;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin: 1rem 0;
    }

    .loading-message {
      font-size: 1.4rem;
      font-weight: bold;
      color: #f39c12;
      margin-top: 1rem;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
